footer.footer
  nav.footer_nav
    .footer_nav_dreamshare DREAMSHARE
    .footer_nav_company
      p.footer_nav_company_title Company
      ul.footer_nav_company_menu
        li About
        li Contact
        li Press
        li Blog
        li.li Terms and Privacy
        li Help
    .footer_nav_partners Partners
    .footer_nav_logo
      p.footer_nav_logo_text DESIGNED BY
      img.footer_nav_logo_icon(src='images/logo.png' alt='Areto')
