header.header
  .header_top
    h1.header_top_logo DREAMSHARE
    .header_top_button
      a.header_top_button_log-in Log in
      a.header_top_button_sign-up Sign up
  .header_title
    | SHARE YOUR 
    br
    |  HOLIDAY DREAM
  p.header_text And find the perfect partner to fullfill it
  button.header_button Find your holiday partner